body {
    background-color: #000;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    color: #fff;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/src/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    z-index: -1;
}

a {
    pointer-events: all;
    color: #fff;
}

#blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    z-index: -1;
}
